.Select-block{
    position: relative;
}
.Select-block + .Select-block{
    margin-top: 2rem;
}
.Select-block label{
    font-size: 1.4rem;
}
.Select-block select{
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius:0.8rem;
    background:var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: none;
    padding: 0 1.6rem;
    font:1.6rem Archivo Narrow;
    overflow: hidden;

}
/* Quando tiver focado em alguma caixa, irá mostrar uma barra */
.Select-block:focus-within::after{
    content: '';
    height: 3px;
    /* width: calc(100%-3.2rem); */
    position: absolute;
    left: 0.3rem;
    right: 0.3rem;
    bottom: 0;
    background-color: rgba(247, 48, 48, 0.781);
}
#page-teacher-list main{
    margin: 3.2rem auto;
    width: 90%;
}
